body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

header img {
    height: 50px;
}

header h6 {
    color: #6c757d;
    font-size: 0.8rem;
}

section {
    padding: 0 15px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer img {
    height: 30px;
}

footer p {
    font-size: 0.9rem;
}

.btn-custom {
    background-color: #d90429; /* Custom button color */
    border-color: #d90429; /* Custom border color */
    color: white;
    padding: 1% 8% 1% 8%;
}

.btn-custom:hover {
    background-color: #b50221; /* Darker shade for hover state */
    border-color: #b50221;
}
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}